.NavIcons{
    background-color: white;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    width: 90%;
    margin:auto 80px; 
    display: inline-flex;
    
    height: 50px;
    padding: 10px;
    z-index: 1;
    box-sizing: border-box;
}

.icon-block{
    display: grid;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .banner__slider {
        padding:0 100px;
    }
}

.icon-block:active{
    border-bottom: solid 2px green;
}

.icon-block:hover{
    border-bottom: solid 2px red;
    cursor: pointer;
}