.NavIcons{
    background-color: red;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    width: 90%;
    margin:auto 80px; 
    display: inline-flex;
    position: fixed;
    height: 50px;
}

.icon-block{
    display: grid;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .banner__slider {
        padding:0 100px;
    }
}